/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars.
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

body{
  overflow: hidden;
  background: #303030;
  color: #FFFFFF;
}

.serverList {
  text-align: center;
  height: 100%;
  overflow-y: auto;
  margin-left: -25px;
  margin-right: 25px;
  margin-top: 15px;
}

.serverList .nav-tabs {
  border-bottom: 0 none;
}

.serverList .nav-item a {
  color: rgba(255, 255, 255, 0.7);
}

.serverList .nav-item .active {
  color: #FFFFFF;
  background-color: #424242;
  border: 0;
}

.serverList .nav-tabs .nav-link:focus{
  border-color: transparent;
}

.serverList .nav-tabs .nav-link:hover{
  border-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
}

.serverItems li, .favoriteItems li {
  margin: 15px;
}

.serverItems, .favoriteItems {
  list-style-type: none;
  background-color: #424242;
  border: 1px none;
  border-top: 0;
  margin-top: -2px;
  padding-top: 1px; /* Makes the border of the tabs and the div meet up */
  padding-bottom: 15px;
  border-radius: 5px;
  border-top-left-radius: 0;
  padding-left: 0;
}

.favoriteItems {
  border-top-left-radius: 5px;
}

.serverInfo {
  background-color: #424242;
  margin-top: 15px;
  text-align: center;
  max-height: 250px;
  border: 1px none;
  border-radius: 5px;
  padding: 0;
}

.serverBar {
  background-color: #212121;
  height: 10%;
  border: 1px none;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.masterMOTD {
  border: 1px none;
  border-radius: 5px;
  background-color: #424242;
}

.hidden {
  display: none;
}
