body{
  background: #2c3d51;
  color: white;
}

.serverList {
  text-align: center;
  height: 100%;
}

.serverList li {
  margin: 15px;
}

.serverItems {
  list-style-type: none;
}

.serverInfo {
  margin-top: 15px;
  text-align: center;
  max-height: 250px;
  border: 1px solid #ffe591;
  border-radius: 5px;
  background-color: #473322;
}

.btn {
  background-color: #2f2216;
  max-width: 400px;
  padding: 10px;
  text-align: center;
  border: 2px solid #ffe591;
  color: white !important;
  border-radius: 15px;
  margin: 0 auto;
}
